<div class="col col-sm-12">
    <div class="alert alert-success text-center">
        Contact list
        <input type="button" value="Log Out" class="btn btn-primary" style="float: right;" (click)="logOut()">
    </div>
    <div class="col-lg-12 table-responsive" #TABLE #table>
        <div style="padding-bottom: 5px;padding-top: 5px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="ExportTOExcel()" class="btn btn-success">ExportTOExcel</button>
                    <span style="padding-bottom: -5px;padding-top: -5px; padding-left: 86%;"> <button
                            (click)="editForm(false)" class="btn btn-primary">Add Contact</button></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Email ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.email}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.PhoneNumber}}</td>
                <td><img [src]="contact.image" class="rounded-circle" width="100px" length="100px"></td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="editForm(contact)" width="16" height="16"
                        fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>